# Code

In [1]:
# Imports
import numpy as np
import pandas as pd

In [2]:
# Make a list of metronome values
metronome = list(range(40, 60, 2)) +\
            list(range(60, 72, 3)) +\
            list(range(76, 120, 4)) +\
            list(range(120, 144, 6)) +\
            list(range(144, 216, 8))

In [3]:
# Make a dictionary of songs I want to practice along with a tuple containing
# the upper and lower bounds for the tempos
songs = {'Invention 1': (40, 72),
         'Invention 2': (40, 63),
         'Invention 4': (80, 144),
         'Invention 6': (80, 116),
         'Invention 8': (40, 108),
         'Invention 13': (40, 100),
         'Invention 14': (40, 52),
         'BWV 953': (40, 80)}

In [4]:
# Get the songs to practice
practice = np.random.choice(list(songs.keys()), 6, replace = False)

In [5]:
# Get the tempos
tempos = []
maximums = []
for i in range(len(practice)):
    while True:
        tempo = np.random.choice(metronome)
        if ((tempo >= songs[practice[i]][0]) &
            (tempo <= songs[practice[i]][1]) &
            (tempo not in tempos)):
            break
    tempos.append(tempo)
    maximums.append(songs[practice[i]][1])

# Display

In [6]:
# Display the practice routine
pd.DataFrame({'Song': practice, 'Tempo': tempos, 'Maximums': maximums})

           Song  Tempo  Maximums
0       BWV 953     50        80
1   Invention 4    108       144
2   Invention 1     58        72
3   Invention 6    112       116
4   Invention 8     76       108
5  Invention 13     92       100