In [1]:
# Imports
import numpy as np
import pandas as pd

In [2]:
# Make a list of metronome values
metronome = list(range(40, 60, 2)) +\
            list(range(60, 72, 3)) +\
            list(range(76, 120, 4)) +\
            list(range(120, 144, 6)) +\
            list(range(144, 216, 8))

In [3]:
# Make a dictionary of songs I want to practice along with a tuple containing
# the upper and lower bounds
songs = {'Invention 1': (40, 72),
         'Invention 2': (40, 60),
         'Invention 4': (80, 144),
         'Invention 6': (80, 120),
         'Invention 8': (40, 108),
         'Invention 13': (40, 100),
         'Invention 14': (40, 50),
         'BWV 953': (40, 76)}
songs.keys()

dict_keys(['Invention 1', 'Invention 2', 'Invention 4', 'Invention 6', 'Invention 8', 'Invention 13', 'Invention 14', 'BWV 953'])

In [4]:
# Get the songs to practice
practice = np.random.choice(list(songs.keys()), 6, replace = False)
practice

array(['Invention 2', 'Invention 4', 'Invention 8', 'Invention 14',
       'BWV 953', 'Invention 6'], dtype='<U12')

In [5]:
# Get the tempos
tempos = []
for i in range(len(practice)):
    while True:
        tempo = np.random.choice(metronome)
        if ((tempo >= songs[practice[i]][0]) &
            (tempo <= songs[practice[i]][1]) &
            (tempo not in tempos)):
            break
    tempos.append(tempo)
print(practice)
print(tempos)

['Invention 2' 'Invention 4' 'Invention 8' 'Invention 14' 'BWV 953'
 'Invention 6']
[40, 92, 80, 48, 50, 100]

In [6]:
pd.DataFrame({'Song': practice, 'Tempo': tempos})

           Song  Tempo
0   Invention 2     40
1   Invention 4     92
2   Invention 8     80
3  Invention 14     48
4       BWV 953     50
5   Invention 6    100